#!/bin/bash

# Debconf config script for Drupal

set -e


# Source debconf library
. /usr/share/debconf/confmodule

if [ -f /usr/share/dbconfig-common/dpkg/config ]; then
	# we support mysql and pgsql
	dbc_dbtypes="mysql, pgsql"
	dbc_dbname=drupal8
	dbc_dbuser=drupal8

	# source dbconfig-common stuff
	. /usr/share/dbconfig-common/dpkg/config --debconf-ok
	dbc_go drupal8 $@
fi

if [ "$DPKG_DEBUG" = "developer" ]; then
    set -x
fi
 
##################################################
# Begin installation directories definition block#
##################################################
package_name="drupal8"
datadir="/var/lib/${package_name}"
backupdir="${datadir}/backups/"
docdir="/usr/share/doc/${package_name}"
upgradesdir="${docdir}/upgrades"
configdir="/etc/drupal/8"
configfile="${configdir}/conf.php"
includefile="${configdir}/apache2.conf"
################################################
# End installation directories definition block #
################################################

########################################################################
# The actual configuration

OLDVERSION="$2"

db_stop

exit 0
