#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
#export DH_OPTIONS=-v

PACKAGE = $(shell dh_listpackages)
DESTDIR = $(CURDIR)/debian/$(PACKAGE)

VENDOR = $(DESTDIR)/usr/share/drupal8/vendor
COREVENDOR = $(DESTDIR)/usr/share/drupal8/core/assets/vendor
# SYSPHP and SYSJS are at the same level (/usr/share), but they are
# called from different levels within the Drupal sources; if vendor/
# or core/vendor/ are to ever be moved, this is the place to update
# (or to find a more elegant solution)
SYSPHP = ../../../php
SYSJS = ../../../../javascript

%:
	dh  $@

override_dh_installdirs:
	dh_installdirs -X.svn -XCVS

override_dh_install:
	# Ensure the list of third-party included libraries remains
	# consistent with what we already checked
	SHATMP=`mktemp --tmpdir SHA_CK.XXXXX` && \
	    sha256sum core/core.libraries.yml > $$SHATMP && \
	    diff -q debian/missing-sources/tracking.sha256 $$SHATMP && \
	    rm $$SHATMP

	dh_install -XCVS -X.svn -X.gitignore -X.gitattributes -X.gitmodules

	# Fix permissions
	#
	# Images should not be executable
	find $(DESTDIR)/usr/share/drupal8 \
	  -name '*.png' -o -name '*.jpg' -exec chmod a-x \{\} +
	# All actual scripts (*.sh, *.php) under core/scripts should
	# be executable; no other files in core/ should be executable.
	find $(DESTDIR)/usr/share/drupal8/core -type f -exec chmod a-x \{\} +
	find $(DESTDIR)/usr/share/drupal8/core/scripts -type f -name '*.php' -exec chmod a+x \{\} +
	find $(DESTDIR)/usr/share/drupal8/core/scripts -type f -name '*.sh' -exec chmod a+x \{\} +

	# There are many unneeded extra license files shipped with
	# Drupal, identical copies of the GPL (or, in two cases, an
	# empty file, and in two further cases documented in
	# debian/copyright, the MIT license). Getting rid of them
	# keeps Lintian happy.
	find $(DESTDIR)/usr/share/drupal8 -name LICENSE.txt -exec rm \{\} +
	rm $(COREVENDOR)/ckeditor/LICENSE.md \
		$(COREVENDOR)/classList/LICENSE.md \
		$(DESTDIR)/usr/share/drupal8/core/misc/icons/license.md \
		$(DESTDIR)/usr/share/drupal8/core/themes/stable/images/core/icons/license.md

	# Bundled PHP libraries listed in core/composer.json are
	# shipped in vendor/; use Debian system-provided ones as much
	# as possible.
	#
	# We first create the $(VENDOR)/symfony (and similar)
	# directories in case we are working from the Git tree (it is
	# shipped only via the tar.gz distributions)
	[ -d $(VENDOR)/symfony ] || mkdir -p $(VENDOR)/symfony

	rm -rf $(VENDOR)/symfony/class-loader
	ln -s $(SYSPHP)/Symfony/Component/ClassLoader $(VENDOR)/symfony/class-loader

	rm -rf $(VENDOR)/symfony/console
	ln -s $(SYSPHP)/Symfony/Component/Console $(VENDOR)/symfony/console

	# Replace those embedded javascript libraries we can with the
	# packaged systemwide version
	rm -rf $(COREVENDOR)/ckeditor
	ln -s $(SYSJS)/ckeditor $(COREVENDOR)/ckeditor

	rm -rf $(COREVENDOR)/jquery.cookie
	ln -s $(SYSJS)/jquery-cookie $(COREVENDOR)/jquery.cookie

	rm -rf $(COREVENDOR)/underscore
	ln -s $(SYSJS)/underscore $(COREVENDOR)/underscore

	install -m640 .htaccess debian/drupal8/etc/drupal/8/htaccess

	ln -s ../../drupal/8/apache2.conf $(DESTDIR)/etc/apache2/conf-available/drupal8.conf

override_dh_installdocs:
	dh_installdocs -XCVS -X.svn

