#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
#export DH_OPTIONS=-v

PACKAGE = $(shell dh_listpackages)
DESTDIR = $(CURDIR)/debian/$(PACKAGE)

%:
	dh  $@

override_dh_installdirs:
	dh_installdirs -X.svn -XCVS

override_dh_install:
	dh_install -XCVS -X.svn -X.gitignore -X.gitattributes -X.gitmodules
	# Fix permissions
	#
	# Images should not be executable
	find $(DESTDIR)/usr/share/drupal8 \
	  -name '*.png' -o -name '*.jpg' -exec chmod a-x \{\} +
	# All actual scripts (*.sh, *.php) under core/scripts should
	# be executable; no other files in core/ should be executable.
	find $(DESTDIR)/usr/share/drupal8/core -type f -exec chmod a-x \{\} +
	find $(DESTDIR)/usr/share/drupal8/core/scripts -type f -name '*.php' -exec chmod a+x \{\} +
	find $(DESTDIR)/usr/share/drupal8/core/scripts -type f -name '*.sh' -exec chmod a+x \{\} +

	install -m640 .htaccess debian/drupal8/etc/drupal/8/htaccess

	ln -s ../../drupal/8/apache2.conf $(DESTDIR)/etc/apache2/conf-available/drupal8.conf

override_dh_installdocs:
	dh_installdocs -XCVS -X.svn

